html {
   box-sizing: border-box;
 }
 
#loading {
   font-family: 'SF Pro Display', sans-serif;
   font-weight: bold;
   display: flex;
   flex-direction: column;
   gap: 10px;
   justify-content: center; /* Horizontal centering */
   align-items: center; /* Vertical centering */
   position: fixed;
   width: 100%;
   height: 100vh;
   top: 0;
   left: 0;
   z-index: 999;
   background-color: whitesmoke;
   color: black;
}

.loadingBar {
   width:120px;
   height:20px;
   -webkit-mask:linear-gradient(90deg,#000 70%,#0000 0) 0/20%;
   background:
    linear-gradient(#C02026 0 0) 0/0% no-repeat
    #ddd;
   animation:p4 2s infinite steps(6);
 }

 @keyframes p4 {
     100% {background-size:120%}
 }

 *,
 *:before,
 *:after {
   box-sizing: inherit;
   margin: 0;
   padding: 0;
 }
 body {
   margin: 0;
   padding: 0;
   width: 100%;
   height: 100vh;
   overflow-y: auto;
   background-attachment: fixed;
   background-size: cover;
   font-family: 'SF Pro Display', sans-serif;
   transition: 200ms all;
 } 

p {
   padding: 0;
   margin: 0;
}

#navbar, #fixedNavbar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: relative;
   padding: 20px;
   width: 100%;
   height: auto;
   background-color: whitesmoke;
 }

#navbar img, #fixedNavbar img {
   margin: auto;
   width: auto;
   max-width: 10%;
}

#fixedNavbar {
   display: none;
   background-color: rgba(255,255,255,0.7);
   backdrop-filter: blur(8px);
}

@keyframes heights {
   from {
       transform: translateY(-100px);
   }
   to {
      transform: translateY(0px);
   }
}

@keyframes loader {
   0% {
      opacity: 1;
   }
   99% {
      opacity: 0;
   }
   100% {
      opacity: 0;
      display: none;
   }
}

@keyframes unloader {
   0% {
      display: flex;
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}

#ham {
   position: absolute;
}

#ham img {
   margin: auto;
   width: auto;
   max-width: 50%;
}

#ham img:hover {
   cursor: pointer;
}

.banner-1 {
   padding-left: 150px;
   padding-right: 150px;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   width: auto;
   height: auto;
   align-items: center;
   text-align: left;
   background: linear-gradient(90deg, rgba(192,32,38,1) 0%, rgba(142,24,28,1) 100%);
   color: white;
}

.banner-1 p {
   font-size: 3vw;
   font-weight: 600;
}

#search {
   color: white;
   padding: 1vw;
   padding-left: 2.3vw;
   padding-right: 2.3vw;
   background-color: rgba(0,0,0,0);
   border-radius: 0.4vw;
   border-color: white;
   border-width: 0.2vw;
}

#search:hover {
   cursor: pointer;
}

.con-search {
   display: flex;
   justify-content: center;
   width: 100%;
   height: fit-content;
}

.search {
   display: flex;
   width: 75%;
   justify-content: space-between;
   background-color: white;
   box-shadow: 0 2px 10px rgba(0, 0, 0, 0.453);
   border-radius: 10px;
   transform: translateY(-30px);
   z-index: 1;
}

.search input {
   width: 500px;
   font-weight: bold;
   padding: 20px;
   border-style: none;
   border-radius: 10px;
}

.search input:focus {
   outline: none;
}

.search div:nth-child(2) {
   background-color: rgba(192,32,38,1);border-top-right-radius: 10px;border-bottom-right-radius: 10px;
   width: 5%;
}

.banner-2 {
   display: flex;
   justify-content: center;
}

.banner-2 img {
   margin: auto;
   width: 75%;
   height: auto;
   border-radius: 5px;
   box-shadow: 0 2px 10px rgba(0, 0, 0, 0.453);
}

.tagline {
   margin-top: 20px;
   background-color: red;
   width: auto;
   max-width: 22%;
   padding: 0.8vw;
   padding-right: 3.5vw;
   height: fit-content;
   text-align: right;
   border-top-right-radius: 8px;
   border-bottom-right-radius: 8px;
   font-size: 1.2vw;
   font-weight: bolder;
   color: white;
}

.list-tagline {
   display: flex;
   justify-content: center;
   width: 100%;
   padding-top: 20px;
   padding-left: 14vw;
   padding-right: 14vw;   
}

.display-tagline {
   display: flex;
   justify-content: space-around;
   width: 100%;
   gap: 10px;
}

.conta-tagline {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: white;
   color: #C02026;
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.386);
   border-radius: 2vw;
   width: 100%;
   height: 10vw;
   padding-top: 2vw;
   padding-bottom: 2vw;
   transition: all 150ms ease-in-out;
}

.conta-tagline:hover {
   background-color: rgb(213, 213, 213);
   transition: all 150ms ease-in-out;
   cursor: pointer;
}

.conta-tagline p {
   font-family: 'SF Pro Display', sans-serif;
   font-weight: bold;
   font-size: 1vw;
}

.conta-tagline img {
   margin: auto;
   width: 15%;
}

#promo-voucher, #list-history-voucher {
   display: flex;
   flex-direction: column;
   gap: 20px;
   padding-top: 40px;
   padding-left: 13vw;
   padding-right: 13vw;
   width: 100%;
   max-height: 71vh;
   overflow-y: auto;
}

.text-promo p {
   font-family: 'SF Pro Display', sans-serif;
   font-weight: bolder;
   font-size: 1.2vw;
   color: #C02026;
}

.pv {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   height: 14vw;
   width: 100%;
   background-color: white;
   border-radius: 2vw;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.465);
}

.pv-con-1 {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: red;
   width: 25%;
   border-top-left-radius: 2vw;
   border-bottom-left-radius: 2vw;
}

.pv-con-1 img {
   margin: 0;
   width: 45%;
}

.pv-con-2 {
   display: flex;
   margin: 1vw;
   flex-direction: column;
   justify-content: space-around;
   font-family: 'SF Pro Display', sans-serif;
   font-weight: 500;
   color: #C02026;
   width: 50%;
}

.pv-con-2 p, .pv-con-3 p {
   font-size: 1.5vw;
   font-weight: bold;
}

.pv-con-2 p:nth-child(1) {
   font-size: 2vw;
}

.pv-con-2 p:nth-child(2) {
   font-size: 1vw;
   font-weight: 400;
}

.pv-con-3 {
   display: flex;
   flex-direction: column;
   justify-content: end;
   gap: 0.5vw;
   align-items: start;
   width: 25%;
   color: #C02026;
   position: relative; /* Ensure the parent container is relatively positioned */
}

.pv-con-3::before {
   content: "";
   position: absolute;
   left: -30px; /* Adjust the offset as needed */
   top: 50%;
   transform: translateY(-50%);
   height: 70%; /* Set the height of the line to 70% of the container's height */
   width: 0.1vw; /* Adjust the width as needed */
   background-color: gray;
}

#pm-foot {
   margin-bottom: 2vw;
}

.pv-con-3 p {
   text-align: left;
}

.pv-con-3 button {
   width: 70%;
   border-style: none;
   margin-bottom: 2vw;
}

#hoveringButton {
   padding: 1vw;
   background-color: #C02026;
   border-radius: 1vw;
   text-align: center;
   color: white;
   font-weight: 600;
}

#hoveringButton:hover {
   cursor: pointer;
}

#show-voucher-1, #show-voucher-2, #show-voucher-3 {
   display: none;
}

.special-voucher {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 100%;
   padding-left: 13vw;
   padding-right: 13vw;
   border-radius: 1vw;
   overflow: hidden; /* Ensure child elements don't overflow */
}

.special-voucher > div {
   flex: 1; /* Ensure child divs take equal space */
}

.special-voucher img {
   width: 100%; /* Ensure the image fills its parent div */
   height: 13vw; /* Ensure the image fills its parent div */
   object-fit: cover; /* Ensure the image covers its parent div */
   border-top-left-radius: 1vw;
   border-top-right-radius: 1vw;
}

.info-special-voucher {
   display: flex;
   justify-content: space-between;
   margin-top: 0;
   width: auto;
   background-color: whitesmoke;
   border-bottom-left-radius: 1vw;
   border-bottom-right-radius: 1vw;
}

.info-special-voucher div:nth-child(1) {
   padding: 1vw;
   margin-bottom: 1vw;
   display: flex;
   flex-direction: column;
   color: #C02026;
}

.info-special-voucher div:nth-child(1) p:nth-child(2) {
   padding-bottom: 1vw;
}

.info-special-voucher div:nth-child(1) p:nth-child(1), .info-special-voucher div:nth-child(1) p:nth-child(3) {
   font-size: 1.5vw;
   font-weight: 600;
}

.info-special-voucher div:nth-child(2) {
   display: flex;
   flex-direction: column;
   justify-content: end;
   padding: 2vw;
}

#specialButton {
   padding: 0.8vw;
   padding-right:2vw;
   padding-left:2vw;
   background-color: #C02026;
   border-radius: 0.5vw;
   border-style: none;
   text-align: center;
   color: white;
   font-weight: 600;
}

.text-promo {
   margin-bottom: 20px;
}

#menu-ham, #fmenu-ham {
   left: -20px;
   padding: 2vw;
   display: none;
   flex-direction: column;
   gap: 20px;
   font-weight: bold;
   position: absolute;
   width: 15vw;
   background-color: whitesmoke;
   border-bottom-right-radius: 1vw;
}

#fmenu-ham {
   background-color: rgba(255,255,255,1);
   margin-top: 1vw;
}

.aline {
   width: 100%;
   height: 1px;
   background-color: gray;
}

@keyframes loadermenu {
   0% {
      transform:  translateY(-300px);
   }
   100% {
      transform:  translateY(0px);
   }
}

#center-paymentPage {
   position: fixed;
   width: 100%;
   height: 100vh;
   display: none;
   justify-content: center;
   align-items: center;
   z-index: 6;
   background-color: rgba(0, 0, 0, 0.465);
   backdrop-filter: blur(6px);
}

#paymentPage {
   width: 80%;
   min-height: 80vh;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   background-color: whitesmoke;
   border-radius: 2vw;
}

#colorPayment {
   padding: 2vw;
   border-top-left-radius: 2vw;
   border-top-right-radius: 2vw;
   width: 100%;
   height: auto;
   background: linear-gradient(90deg, rgba(192,32,38,1) 0%, rgba(142,24,28,1) 100%);
}

#paymentPage div:nth-child(2) {
   width: 100%;
}

#infoPayment {
   height: auto;
   padding-left: 2vw;
   padding-bottom: 3vw;
   display: flex;
   flex-direction: column;
   justify-content: start;
   color: #C02026;
}
#infoPayment p {
   font-size: 1vw;
}

#infoPayment p:nth-child(2) {
   padding-bottom: 1vw;
}

#infoPayment p:nth-child(1), #infoPayment p:nth-child(3) {
   font-size: 1.5vw;
   font-weight: 600;
}

#pagebuttonPayment {
   display: flex;
   width: 70%;
   justify-content: end;
   align-items: end;
}

#buttonPayment {
   padding: 2vw;
   display: flex;
   justify-content: space-between;
   align-items: end;
   gap: 0.6vw;
}

#buttonPayment p {
   font-weight: bold;
   color: #C02026;
}

#buttonPayment p:nth-child(1) {
   font-size: 1.6vw;
}

#buttonPayment p:nth-child(2) {
   font-size: 1vw;
}

#buttonPayment p:nth-child(1) {
   font-weight: 500;
}

#buttonPayment button {
   padding: 0.5vw;
   margin-left: 0.4vw;
   padding-left: 3vw;
   padding-right: 3vw;
   background-color: #C02026;
   border-radius: 0.2vw;
   border-style: none;
   text-align: center;
   color: white;
   font-weight: 600;
}

#buttonPayment button:hover {
   cursor: pointer;
}

#maindisplay2 {
   display: none;
   background: linear-gradient(90deg, rgba(192,32,38,1) 0%, rgba(142,24,28,1) 100%);
   width: 100%;
   height: 100vh;
   overflow-y: auto;
}

#menu-ham p:nth-child(1):hover,
#menu-ham p:nth-child(2):hover,
#menu-ham p:nth-child(3):hover,
#menu-ham p:last-child:hover,
#fmenu-ham p:nth-child(1):hover,
#fmenu-ham p:nth-child(2):hover,
#fmenu-ham p:nth-child(3):hover,
#fmenu-ham p:last-child:hover {
   cursor: pointer;
   color: #C02026;
}

#listSearch {
   display: none;
   position: absolute;
   width: 50%;
   height: 20vh;
   overflow-y: auto;
   flex-direction: column;
   color: #C02026;
   z-index: 7;
   top: 70vh;
}

.searchResultContainer {
   background-color: white;
   padding: 2vw;
   width: 100%;
   font-weight: bolder;
}

.searchResultContainer:hover {
   cursor: pointer;
}

.searchResultContainer p {
   margin-bottom: 1vw;
}